.wp-block-react-wordpress-theme-posts-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    .posts-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        h5 {
            margin: 0;
        }

        .post {
            width: 100%;
        }
    }
}
